<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dntf.dntf.dntf" >

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dntf_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.dntf.dntf.dntf.NotificationsCenter"></receiver>
        <receiver
            android:name="com.dntf.dntf.dntf.BootCenter"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.dntf.dntf.dntf.OnBoardingActivity"
            android:theme="@style/splashScreenTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dntf.dntf.dntf.MainActivity"
            android:label="@string/title_section1" >
        </activity>
        <activity
            android:name="com.dntf.dntf.dntf.FoodListActivity"
            android:label="@string/title_section2" >
        </activity>
        <activity
            android:name="com.dntf.dntf.dntf.AboutActivity"
            android:label="@string/title_section3" >
        </activity>
        <activity
            android:name="com.dntf.dntf.dntf.FoodDetailsActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
